<!DOCTYPE html>
<head>
    <h1>
        Here is the page for {{business.name}}
    </h1>
    <h2>
        Location: {{business.address}}
    </h2>
    <a href="https://www.google.com/maps/search/{{business.name}} {{business.address}}" target='_blank' rel='noopener noreferrer'>Find on Google Maps</a> 
</head>
<body>
    <h3>
        This business has the following dietary options available:
    </h3>
    <ul>
        {% for diet in business.diets %}
        <li>
            {{diet}}
        </li>
        {% endfor %}
    </ul>

    <form action="/", method="post">
        <input type="hidden" name="publisher" value="Anonymous" />
        <input type="hidden" name="publisher" value={{business.id}} />

        <input type="text" placeholder="Text for your note" name="note_text" class="form-control" required><br>

        <button type="submit" class="btn">Post</button>
    </form>
</body>