<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=0.i5">
    <title>Search Cities</title>
    <link rel="stylesheet" href="{% static 'rest/search_results.css' %}">
    <h1>
        Welcome to the search page.
    </h1>
</head>
<body>
    {% if error_msg %}
    <h2>Oops! We couldn't find anything for "{{error_msg}}"</h2>
    {% endif %}
    <form action="/search/results", method="get">
        <input type="hidden" name="page" value="1" />

        <input type="text" placeholder="City" name="city" id="cityinput" class="form-control" required><br>

        <label for="diet_restricts">Restrict results to the following diet:</label><br>
        <select name="diet_restrict" id="diet_restricts">
            <option value="0" selected>N/A</option>
            <option value="10992">Gluten Free</option>
            <option value="10665">Vegetarian</option>
            <option value="10697">Vegan</option>
        </select><br>

        <button type="submit" class="btn">Search</button>
    </form>
</body>